<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <queries>

        <!-- Explicit apps you know in advance about: -->
        <package android:name="com.acpl.registersdk" />
        <package android:name="com.scl.rdservice" />
        <package android:name="com.mantra.rdservice" />
        <package android:name="com.precision.pb510.rdservice" />
        <package android:name="com.nextbiometrics.onetouchrdservice" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="protean.assisted.ekyc" />
        <package android:name="com.whatsapp" />
        <package android:name="com.mantra.mis100v2.rdservice" />
        <package android:name="com.idemia.l1rdservice" />
    </queries>

    <application
        android:name=".ASLEmpMng"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sims.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".screens.crm.TakeFollowUpActivity"
            android:exported="false" />
        <activity
            android:name=".screens.crm.LeadListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.crm.AddLeadsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.crm.CRMLeadDashboard"
            android:exported="false" />
        <activity
            android:name=".screens.referral.ReferActivity"
            android:exported="false" />
        <activity
            android:name=".screens.billpayment.OperatorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.rank.RankListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.performance.EmpPerformanceAddActivity"
            android:exported="false" />
        <activity
            android:name=".screens.performance.CreatePerformanceTypeActivity"
            android:exported="false" />
        <activity
            android:name=".screens.performance.PerformanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.billpayment.ElectricityBillerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.chat.ChatWithCompanyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.recharge.CircleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.recharge.OperatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.recharge.PayRechargeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.recharge.ContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.recharge.PlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.payroll.SalaryTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.payroll.CreateSalaryTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ticket.CreateTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.AssignBranchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.payroll.SalarySlipActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.subscription.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.SubMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.payroll.GenerateSalaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.payroll.PayRollHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.recharge.RechargeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.reports.AttendanceReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.reports.ReportsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.UploadSelfieAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.GenerateQRActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.QRCodeAttendanceEmpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmpDayAttendanceRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmpSelfieAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.HelpSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.ViewEmpLocationTrackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.ViewDeviceRequestEmpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.NewDeviceRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmployeeViewDocumentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.AadhaarOtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.VerifyCompanyDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.AddDepartmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmpBranchDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ui.AutoSearchPlaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ui.WishListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmployeeProfileDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.emp.EmployeeAttendanceRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.OnLeaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmplyeeAttendaceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.auth.LoginWithOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sims.NoActionBar" />
        <activity
            android:name=".screens.profile.CompanyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.settings.AddPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.PolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sims" />
        <activity
            android:name=".screens.settings.AddHolidayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.HolidayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.LeaveRequestHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.ViewAllEmployeeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.BranchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.auth.MobileSignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.auth.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.SetAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.EmpProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmployeePunchInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmployeeAttendance"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.auth.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmployeeLeaveHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.emp.EmpLeaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.CreateLeavePolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.LeaveManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.AddShiftActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.ui.PlaceSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.AddBranchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.AddEmployeeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screens.settings.AccountSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ui.EmplyeeyerProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.dashboard.EmployeeDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.dashboard.EmployerDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sims.NoActionBar" />
        <activity
            android:name=".screens.auth.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.auth.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Sims">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="org.osmdroid.config"
            android:value="osm_config" />
        <!--
 <service
            android:name=".base.service.LocationForegroundService"
            android:foregroundServiceType="location"
            android:permission="android.permission.FOREGROUND_SERVICE" />
        -->
        <service
            android:name=".base.service.LocationForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Notification" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="subject_segment" />
    </application>

</manifest>